<div class="media">
  <a class="media-left" href="#">
    <img class="media-object img-thumbnail pull-xs-left" src="<%= message.user.image_url %>" alt="<%= message.user.name %>">
  </a>
  <div class="media-body">
    <span class="media-heading label label-default"><%= message.user.name %></span><br />
    <%= message.text %>
  </div>
</div>

