---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/groups.history
    body:
      encoding: UTF-8
      string: channel=G06JV4K5L&token=xoxp-6640171794-6641242375-17575672401-a775425ec2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - groups:history,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","user":"U06JV5XFU","text":"\u042f
        \u0432\u0436\u0435 \u0442\u0443\u0442 :)","ts":"1451698648.000002","reactions":[{"name":"+1","users":["U06JV74B1"],"count":1}]},{"type":"message","user":"U06JV74B1","text":"<@U06JU8V6Z>:
        sorry :cold_sweat:","ts":"1446974949.000002"},{"type":"message","user":"U06JU8V6Z","text":"\u041c\u0434\u0430\n","ts":"1446818875.000002"},{"type":"message","user":"U06JU8V6Z","text":"\u0411\u043b\u0438\u043d,
        \u043f\u0430\u0446\u044b\u043a\u0438, \u044f \u043d\u0435 \u0434\u0443\u043c\u0430\u043b,
        \u0447\u0442\u043e \u0442\u0430\u043a\u043e\u0435 \u0441\u043a\u0430\u0436\u0443,
        \u043d\u043e \u043c\u0435\u043d\u044f \u0443\u0436\u0435 \u043c\u043d\u043e\u0433\u043e
        \u043d\u0430 \u0430\u043b\u044c\u0431\u043e\u043c\u0435, \u043d\u0430\u043c
        \u043d\u0443\u0436\u043d\u043e \u0432\u044b\u0440\u043e\u0432\u043d\u044f\u0442\u044c
        \u044d\u0442\u043e\u0442 \u0431\u0430\u043b\u0430\u043d\u0441, \u0438\u0431\u043e
        \u043e\u0449\u0443\u0449\u0435\u043d\u0438\u0435, \u0447\u0442\u043e \u044d\u0442\u043e
        \u043c\u043e\u0439 \u0441\u043e\u043b\u044c\u043d\u0438\u043a","edited":{"user":"U06JU8V6Z","ts":"1446794715.000000"},"ts":"1446794634.000002"},{"type":"message","user":"U06JU8V6Z","text":"\u042f
        \u0437\u0430\u043b\u0438\u043b im not gonna 4-1","ts":"1446755089.000002"},{"type":"message","user":"U06JU8V6Z","text":"\u041d\u0443,
        \u0440\u0435\u0431\u044f\u0442\u0430, \u043a\u0442\u043e \u0447\u0442\u043e
        \u0437\u0430 \u043d\u0435\u0434\u0435\u043b\u044e \u0441\u0434\u0435\u043b\u0430\u043b
        \u043f\u043e \u0430\u043b\u044c\u0431\u043e\u04[...]
- request:
    method: post
    uri: https://slack.com/api/groups.history
    body:
      encoding: UTF-8
      string: channel=G06JV4K5L&latest=1446044234.000021&token=xoxp-6640171794-6641242375-17575672401-a775425ec2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - groups:history,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"latest":"1446044234.000021","messages":[{"type":"message","user":"U06JU8V6Z","text":"\u0410
        \u0447\u0442\u043e?","ts":"1446044173.000020"},{"type":"message","user":"U06JV5XFU","text":"\u0431\u043e
        \u0442\u0430\u043c \u0430\u0436 \u043f\u0440\u043e\u0441\u0438\u0442\u044c\u0441\u044f
        \u0449\u043e\u0441\u044c \u0442\u0430\u043a\u0435","ts":"1446044115.000019"},{"type":"message","user":"U06JV5XFU","text":"\u0430\u043b\u0435
        \u043c\u043e\u0436\u0435 \u0421\u0430\u0448\u0430 \[...]
[...]
