---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/groups.list
    body:
      encoding: UTF-8
      string: token=xoxp-6640171794-6641242375-17575672401-a775425ec2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - groups:read,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"groups":[{"id":"G08CT1V6V","name":"3","is_group":true,"created":1438276183,"creator":"U06JU8V6Z","is_archived":false,"is_mpim":false,"members":["U06JU8V6Z","U06JV5XFU","U06JV74B1"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0}},{"id":"G08CSNVKJ","name":"4","is_group":true,"created":1438276207,"creator":"U06JU8V6Z","is_archived":false,"is_mpim":false,"members":["U06JU8V6Z","U06JV5XFU","U06JV74B1"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0}},{"id":"G08CSRW2K","name":"5","is_group":true,"created":1438276223,"creator":"U06JU8V6Z","is_archived":false,"is_mpim":false,"members":["U06JU8V6Z","U06JV5XFU","U06JV74B1"],"topic":{"value":""[...]
