---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/groups.history
    body:
      encoding: UTF-8
      string: channel=G08CT1V6V&token=xoxp-6640171794-6641242375-17575672401-a775425ec2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - groups:history,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","user":"U06JU8V6Z","text":"\u041d\u0435
        \u0441\u0438\u043b\u044c\u043d\u043e \u043f\u0440\u0438\u043a\u043e\u043b\u044c\u043d\u043e,
        \u0447\u0442\u043e \u0443 \u0431\u0430\u0441\u0430 \u0442\u0430\u043a\u0430\u044f
        \u0441\u0442\u0430\u0442\u0438\u0447\u043d\u0430\u044f \u0430\u043c\u043f\u043b\u0438\u0442\u0443\u0434\u0430,
        \u043d\u0435\u0442 \u0437\u0430\u0442\u0443\u0445\u0430\u043d\u0438\u044f
        \u0438 \u043d\u0430\u0440\u0430\u0441\u0442\u0430\u043d\u0438\u044f, \u0438
        \u0437\u0432\u0443\u043a \u0432\u044b\u0445\u043e\u0434\u0438\u0442 \u043d\u0435\u043c\u043d\u043e\u0433\u043e
        \u043e\u0434\u043d\u043e\u043e\u0431\u0440\u0430\u0437\u043d\u044b\u043c","ts":"1441696846.000005"},{"type":"message","user":"U06JU8V6Z","text":"\u041d\u0435\u043c\u043d\u043e\u0433\u043e
        \u0440\u043e\u043a\u043e\u0432\u044b\u0439 \u0431\u0430\u0441","ts":"1441696439.000004"},{"type":"message","user":"U06JV5XFU","text":"\u0410\u043b\u0435
        \u043a\u0456\u043d\u0435\u0446\u044c \u043c\u0435\u043d\u0456 \u043d\u0435
        \u0434\u0443\u0436\u0435","ts":"1441665229.000003"},{"type":"message","user":"U06JV5XFU","text":"3.8
        \u0431\u0456\u043b\u044c\u0448[...]
