---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/channels.list
    body:
      encoding: UTF-8
      string: token=xoxp-6640171794-6641242375-17575672401-a775425ec2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C06JU6JNQ","name":"general","is_channel":true,"created":1434747704,"creator":"U06JU8V6Z","is_archived":false,"is_general":true,"is_member":true,"members":["U06JU8V6Z","U06JV5XFU","U06JV74B1"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"","last_set":0},"purpose":{"value":"This
        channel is for team-wide communication and announcements. All team members
        are in this channel.","creator":"","last_set":0},"num_members":3},{"id":"C089EV4CT","name":"promo_production_book","is_channel":true,"created":1438109075,"creator":"U06JU8V6Z","is_archived":false,"is_general":false,"is_member":true,"members":["U06JU8V6Z","U06JV5XFU","U06JV74B1"],"topic":{"value":"promo\/production\/touring","creator":"U06JU8V6Z","last_set":1438109215},"purpose":{"value":"","creator":"","last_set":0},"num_members":3},{"id":"C06JU8V8D","name":"random","is_channel":true,"created":1434747704,"creator":"U06JU8V6Z","is_archived":false,"is_general":false,"is_member":true,"members":["U06JU8V6Z","U06JV5XFU","U06JV74B1"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"","last_set":0},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"","last_set":0},"num_members":3}]}'
  recorded_at: Fri, 01 Jan 2016 14:15:35 GMT
recorded_with: VCR 3.0.1
