---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.list
    body:
      encoding: UTF-8
      string: token=xoxp-6640171794-6641242375-17575672401-a775425ec2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"U06JV5XFU","team_id":"T06JU51PC","name":"andriy","deleted":false,"status":null,"color":"4bbe2e","real_name":"Andriy
        Prokopenko","tz":"America\/Indiana\/Indianapolis","tz_label":"Eastern Standard
        Time","tz_offset":-18000,"profile":{"first_name":"Andriy","last_name":"Prokopenko","title":"Beat
        Maker","real_name":"Andriy Prokopenko","real_name_normalized":"Andriy Prokopenko","email":"webjedy@gmail.com","image_24":"https:\/\/secure.gravatar.com\/avatar\/1f63ffbb9797c449b495e6ed938a6f41.jpg?s=24&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F66f9%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/1f63ffbb9797c449b495e6ed938a6f41.jpg?s=32&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F66f9%2Fimg%2Favatars%2Fava_0010-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/1f63ffbb9797c449b495e6ed938a6f41.jpg?s=48&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F66f9%2Fimg%2Favatars%2Fava_0010-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/1f63ffbb9797c449b495e6ed938a6f41.jpg?s=72&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F66f9%2Fimg%2Favatars%2Fava_0010-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/1f63ffbb9797c449b495e6ed938a6f41.jpg?s=192&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F7fa9%2Fimg%2Favatars%2Fava_0010-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/1f63ffbb9797c449b495e6ed938a6f41.jpg?s=512&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F7fa9%2Fimg%2Favatars%2Fava_0010-512.png"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false},{"id":"U06JV74B1","team_id":"T06JU51PC","name":"dorialan","deleted":false,"status":null,"color":"e7392d","real_name":"","tz":"EET","tz_label":"Eastern
        European Time","tz_offset":7200,"profile":{"image_24":"https:\/\/avatars.slack-edge.com\/2015-06-20\/6641445284_56a21c336a5c51e283de_24.jpg","image_32":"https:\/\/avatars.slack-edge.com\/2015-06-20\/6641445284_56a21c336a5c51e283de_32.jpg","image_48":"https:\/\/avatars.slack-edge.com\/2015-06-20\/6641445284_56a21c336a5c51e283de_48.jpg","image_72":"https:\/\/avatars.slack-edge.com\/2015-06-20\/6641445284_56a21c336a5c51e283de_72.jpg","image_192":"https:\/\/avatars.slack-edge.com\/2015-06-20\/6641445284_56a21c336a5c51e283de_192.jpg","image_original":"https:\/\/avatars.slack-edge.com\/2015-06-20\/6641445284_56a21c336a5c51e283de_original.jpg","real_name":"","real_name_normalized":"","email":"dorialan@gmail.com"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"has_2fa":false},{"id":"U06JU8V6Z","team_id":"T06JU51PC","name":"seva","deleted":false,"status":null,"color":"9f69e7","real_name":"","tz":"EET","tz_label":"Eastern
        European Time","tz_offset":7200,"profile":{"image_24":"https:\/\/avatars.slack-edge.com\/2015-06-20\/6643114082_c5da460c79688ad91331_24.jpg","image_32":"https:\/\/avatars.slack-edge.com\/2015-06-20\/6643114082_c5da460c79688ad91331_32.jpg","image_48":"https:\/\/avatars.slack-edge.com\/2015-06-20\/6643114082_c5da460c79688ad91331_48.jpg","[...]
