---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/channels.history
    body:
      encoding: UTF-8
      string: channel=C06JU6JNQ&token=xoxp-6640171794-6641242375-17575672401-a775425ec2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:history,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"text":"Activity on gdrive (configured by @a\u200bndriy)","username":"Google
        Drive","icons":{"image_48":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/bot_icons\/2015-07-13\/7591235697_48.png"},"attachments":[{"fallback":"Changes
        Detected to file <https:\/\/drive.google.com\/a\/2sleepy.info\/file\/d\/0B2dTflZcuiHSbzRIYzBCZU5GQzg\/view?usp=drivesdk|7-3.wav>","id":1,"color":"ffcccc","fields":[{"title":"Deleted
        file","value":"<https:\/\/drive.google.com\/a\/2sleepy.info\/file\/d\/0B2dTflZcuiHSbzRIYzBCZU5GQzg\/view?usp=drivesdk|7-3.wav>","short":true},{"title":"Editor","value":"<mailto:dorialan@gmail.com|I\u200burii
        M\u200barchenko>","short":true}]},{"fallback":"Changes Detected to file <https:\/\/drive.google.com\/a\/2sleepy.info\/file\/d\/0B2dTflZcuiHSSHpldEtkLWFZUjQ\/view?usp=drivesdk|7-3.rns>","id":2,"color":"ccccff","fields":[{"title":"Modified
        file","value":"<https:\/\/drive.google.com\/a\/2sleepy.info\/file\/d\/0B2dTflZcuiHSSHpldEtkLWFZUjQ\/view?usp=drivesdk|7-3.rns>","short":true},{"title":"Editor","value":"<mailto:dorialan@gmail.com|I\u200burii
        M\u200barchenko>","short":true}]}],"type":"message","subtype":"bot_message","ts":"1441878702.000002"},{"text":"Activity
        on gdrive (configured by @a\u200bndriy)","username":"Google Drive","icons":{"image_48":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/bot_icons\/2015-07-13\/7591235697_48.png"},"attachments":[{"fallback":"Changes
        Detected to file <https:\/\/drive.google.com\/a\/2sleepy.info\/file\/d\/0B2dTflZcuiHSUDFTQXliTFpkcU0\/view?usp=drivesdk|3-7a.mp3>","id":1,"color":"ccffcc","fields":[{"title":"Created
        file","value":"<https:\/\/drive.goo[...]
- request:
    method: post
    uri: https://slack.com/api/channels.history
    body:
      encoding: UTF-8
      string: channel=C06JU6JNQ&latest=1439742263.000010&token=xoxp-6640171794-6641242375-17575672401-a775425ec2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:history,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"latest":"1439742263.000010","messages":[{"text":"Activity
        on gdrive (configured by @a\u200bndriy)","username":"Google Drive","icons":{"image_48":"https:\/\/s3-us-west-2.amazonaws.com\/slack-files2\/bot_icons\/2015-07-13\/7591235697_48.png"},"attachments":[{"fallback":"Changes
        Detected to file <https:\/\/drive.google.com\/a\/2sleepy.info\/file\/d\/0B2dTflZcuiHSYklpa1NDU0ZHS2s\/view?usp=drivesdk|City
        &amp; Traffic Bank_bip.aif>","id":1,"color":"ccffcc","fields":[{"title":"Created
 [...]
[...]
